{
    "read_only": false,
    "ignored_list": [
        "\\.py(o|c)$",
        "__pycache__$",
        "\\.git$",
        "\\.svn$",
        "\\.DS_Store$"
    ],
    "editor": {
        "only_enabled_modes": [
            "python",
            "php",
            "django",
            "c_cpp",
            "coffee",
            "css",
            "dart",
            "dockerfile",
            "ejs",
            "erlang",
            "java",
            "javascript",
            "json",
            "jsp",
            "latex",
            "lucene",
            "makefile",
            "markdown",
            "matlab",
            "mysql",
            "objectivec",
            "perl",
            "php",
            "plain_text",
            "text",
            "r",
            "rdoc",
            "rhtml",
            "ruby",
            "sass",
            "scala"m
            "scss",
            "sh",
            "sql",
            "svg",
            "typescript",
            "xml",
            "yaml"
        ]
    },
    "asset_manager": {
        "enabled": true,
        "remote": {
            "font_awesome": "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css",
            "jquery-old":   "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min",
            "jquery":       "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min",
            "handlebars":   "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min"
        },
        "local": {
            "font_awesome":     "vendors/font-awesome-4.2.0/css/font-awesome.min.css",
            "jquery":           "vendors/jquery",
            "ace.ace":          "vendors/ace/ace.js",
            "ace.ext.modelist": "vendors/ace/ext-modelist.js",
            "handlebars":       "vendors/handlebars-v2.0.0",
            "requirejs":        "vendors/require.js",
            "app.browser.js":   "js/browser.js",
            "app.browser.css":  "css/tree.css",
            "app.editor.js":    "js/editor.js",
            "app.editor.css":   "css/editor.css"
        }
    },
    "menus": {
        "browser": {
            "class": "main-controller",
            "default": "mode-switches",
            "prev_group_btn": {
                "icon": "arrow-up",
                "label": "Back"
            },
            "groups": [
                {
                    "name": "mode-switches",
                    "triggers": [
                        {
                            "name":  "add-new-object",
                            "class": null,
                            "label": "Add new file or folder",
                            "icon":  "plus",
                            "target": "object-creator"
                        },
                        {
                            "name":  "manage-objects",
                            "class": null,
                            "label": "Manage files or folder",
                            "icon":  "edit",
                            "target": null
                        },
                        {
                            "name":  "app-about",
                            "class": "app-about",
                            "label": "About",
                            "icon":  "cog",
                            "target": null
                        }
                    ]
                },
                {
                    "name": "object-creator",
                    "triggers": [
                        {
                            "name":  "new-file",
                            "class": null,
                            "label": "Add new file",
                            "icon":  "cube",
                            "target": null
                        },
                        {
                            "name":  "new-folder",
                            "class": null,
                            "label": "Add new folder",
                            "icon":  "cubes",
                            "target": null
                        }
                    ]
                }
            ]
        }
    },
    "opensource_projects": [
        "Python",
        "Tornado Framework",
        "Jinja2",
        "Tori",
        "Passerine",
        "jQuery",
        "Require.js",
        "Font Awesome",
        "Handlebars",
        "Ace"
    ],
    "session": {
        "class": "tori.session.repository.file.File",
        "params": {
            "location": "session.json"
        }
    },
    "db": {
        "managers": {
            "default": {
                "url": "mongodb://localhost/tama"
            }
        }
    }
}
