{
    "read_only": false,
    "asset_manager": {
        "enabled": true
    },
    "session": {
        "class": "tori.session.repository.file.File",
        "params": {
            "location": "session.json"
        }
    },
    "db": {
        "managers": {
            "default": {
                "url": "mongodb://localhost/tama"
            }
        }
    }
}
