{
    "read_only": false,
    "editor": {
        "only_enabled_modes": [
            "python",
            "django",
            "c_cpp",
            "css",
            "javascript",
            "json",
            "makefile",
            "markdown",
            "mysql",
            "plain_text",
            "text",
            "scss",
            "sh",
            "sql",
            "svg",
            "xml",
            "yaml"
        ]
    },
    "asset_manager": {
        "enabled": true
    },
    "session": {
        "class": "tori.session.repository.file.File",
        "params": {
            "location": "session.json"
        }
    },
    "db": {
        "managers": {
            "default": {
                "url": "mongodb://localhost/tama"
            }
        }
    }
}
