<div class="dialog-backdrop"></div>
{% call c.dialog_template('dialog/base') %}
    {%- raw -%}
        {{ content }}
    {%- endraw -%}
{% endcall %}

{% call c.dialog_template('dialog/reconnection', ['alert', 'offline'], ['disabled-close-button']) %}
    <p>The server appears to be offline.</p>

    <div class="actions">
        <a class="reconnect">Reconnect</a>
        <a class="close">Stay offline</a>
    </div>
{% endcall %}

{% call c.dialog_template('dialog/h-prompt', ['prompt', 'horizontal'], ['disabled-close-button']) %}
    {%- raw -%}
        {{#if message}}
            <p>{{ message }}</p>
        {{/if}}
        <div class="options">
            {{#each options}}
                <a data-option="{{ id }}" class="{{ classes }}">{{ label }}</a>
            {{/each}}

            <a class="close">Cancel</a>
        </div>
    {%- endraw -%}
{% endcall %}

{% call c.dialog_template('dialog/v-prompt', ['prompt', 'vertical'], ['disabled-close-button']) %}
    {%- raw -%}
        {{#if message}}
            <p>{{ message }}</p>
        {{/if}}
        <div class="options">
            {{#each options}}
                <a data-option="{{ id }}" class="{{ classes }}">{{ label }}</a>
            {{/each}}

            <a class="close">Cancel</a>
        </div>
    {%- endraw -%}
{% endcall %}

{% call c.dialog_template('dialog/about') %}
    <h3>Project Tama v0.1-dev</h3>
    <p>&copy; 2014 Juti Noppornpitak</p>
    <p>
        The trademark and intellectual properties of any used open-source libraries
        and software are copyrighted by respective owners.
    </p>
    <p>
        This (demo) service is operating in read-only mode and for demonstration purposes.
    </p>
    <p>
        This project uses the libraries, software and/or media from
        {{ ', '.join(app.settings.opensource_projects) }}
        under respective open-source licenses.
    </p>
    <p>
        <dl>
            <dt>Device Form Factor</dt>
            <dd>{{ device_form_factor }}</dd>
            <dt>UI Mode</dt>
            <dd>{{ 'Mobile' if is_mobile else 'Normal' }}</dd>
        </dl>
    </p>
{% endcall %}