<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no"/>
<title>Tama - {% block head_title %}{% endblock %}</title>
<link href="{{ static_path('font_awesome') }}" rel="stylesheet">
<link href="{{ app.path('static', path='css/layout_base.css') }}" rel="stylesheet">
{% block css %}{% endblock %}
</head>
<body>
<div class="app-container">
{#{% include '_header.html' %}#}
{% block dialogs %}{% endblock %}
{% block content %}{% endblock %}
</div>
<div class="sync-status"></div>
<script src="{{ static_path('requirejs') }}"></script>
{%- include '_requirejs.html' -%}
{% block js %}{% endblock %}
</body>
</html>
