{%- import '_common.html' as c -%}

<div class="{{ menu.class }}" data-default="{{ menu.default }}">
    <a class="prev-group">
        {{ c.icon(menu.prev_group_btn.icon, ['fw'], ['icon']) }}
        <span class="text">{{ menu.prev_group_btn.label }}</span>
    </a>

    {%- for g in menu.groups -%}
        <div data-group="{{ g.name }}">
            {%- for i in g.triggers -%}
                <a{# title="{{ i.label }}"#} class="{{ i.class or '' }}"
                    {%- if i.name %} data-id="{{ i.name }}"{% endif -%}
                    {%- if i.target %} data-next="{{ i.target }}"{% endif -%}
                >
                    {{ c.icon(i.icon, ['fw'], ['icon']) }}
                    <span class="text">{{ i.label }}</span>
                </a>
            {%- endfor -%}
        </div>
    {%- endfor -%}
</div>