{% extends '_layout_base.html' %}

{% block head_title %}{{ request_location or '<home>' }}{% endblock %}

{% block css %}
    <link href="{{ static_path('app.browser.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        url_prefix_dir   = '{{ app.path('ui.tree', path = '')}}';
        url_prefix_file  = '{{ app.path('ui.file.editor', path = '')}}';
        url_prefix_dl    = '{{ app.path('api.file', path = '')}}';
        request_location = '{{ request_location }}';
        currentLocation  = '{{ request_location }}';
        rpcSocketUrl     = 'ws://' + location.hostname + ':' + location.port + '{{ app.path("socket.rpc") }}';
    </script>
    <script src="{{ static_path('app.browser.js') }}"></script>
{% endblock %}

{% block dialogs %}
{% endblock %}

{% block content %}
    {% include '_menu.html' %}
    <article class="explorer-chrome">
        <header>
            <ul class="current-location"></ul>
            <div class="root-location">
                <a data-pjax="{{ app.path('ui.tree.default') }}" href="{{ app.path('ui.tree.default') }}">{{ c.icon('home') }}</a>
            </div>
        </header>
        <ul class="node-list"></ul>
    </article>

    {%- call c.hb_template('explorer/step') -%}
        {%- raw -%}
            <li class="step" data-name="{{ name }}" data-path="{{ path }}">
                <a data-pjax="{{ url }}" href="{{ url }}" title="{{ name }}">{{ name }}</a>
            </li>
        {%- endraw -%}
    {%- endcall -%}

    {%- call c.hb_template('explorer/node') -%}
        {%- raw -%}
            <li class="node"
                data-name="{{ name }}"
                data-type="{{ mtype }}"
                data-path="{{ path }}">
                <a href="{{ url }}"
                   title="{{ title }}">
                    <span class="node-marker fa fa-circle-o" title="Pick me!"></span>
                    <span class="node-icon fa fa-fw fa-{{ icon }}"></span>
                    <span class="node-name">{{ name }}</span>
                </a>
            </li>
        {%- endraw -%}
    {%- endcall -%}
{% endblock %}
