{% extends '_layout_base.html' %}

{% block head_title %}{{ request_location or '<home>' }}{% endblock %}

{% block css %}
    <link href="{{ static_path('app.browser.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        url_prefix_dir   = '{{ app.path('ui.tree', path = '')}}';
        url_prefix_file  = '{{ app.path('ui.file.editor', path = '')}}';
        url_prefix_dl    = '{{ app.path('api.file', path = '')}}';
        request_location = '{{ request_location }}';
        currentLocation  = '{{ request_location }}';
        rpcSocketUrl     = 'ws://' + location.hostname + ':' + location.port + '{{ app.path("socket.rpc") }}';
    </script>
    <script src="{{ static_path('app.browser.js') }}"></script>
{% endblock %}

{% block dialogs %}
{% endblock %}

{% block content %}
    {% include '_menu.html' %}
    <article class="explorer-chrome">
        <header>
            {% if request_location %}<a href="{{ app.path('ui.tree', path = parent_path) }}">Back to <b>{{ parent_path or '<home>' | escape }}</b></a>{% endif %}
            <h1>{{ c.icon('dot-circle-o') }} <span class="current-location">{{ request_location or '<home>' | escape }}</span></h1>
        </header>
        <ul class="node-list"></ul>
    </article>
    <script data-name="explorer-chrome/node" type="text/x-handlebars-template">{%- raw -%}
        <li class="node"
            data-name="{{ name }}"
            data-type="{{ mtype }}"
            data-path="{{ path }}">
            <a href="{{ url }}"
               title="{{ title }}">
                <span class="node-marker fa fa-circle-o" title="Pick me!"></span>
                <span class="node-icon fa fa-fw fa-{{ icon }}"></span>
                <span class="node-name">{{ name }}</span>
            </a>
        </li>
    {%- endraw -%}</script>
{% endblock %}
