{% extends '_layout_base.html' %}

{% block head_title %}{{ request_location or '<home>' }}{% endblock %}

{% block content %}
    <div class="editor-chrome">
        <div class="controls">
            <div class="path"><a href="{{ app.path('ui.tree', path = parent_path) }}">
                <span class="icon fa fa-chevron-left"></span>
                <span class="label">{{ parent_path or '<home>' | escape }}</span>
            </a></div>
            <div class="name" title="{{ request_location }}"><span class="fa fa-file-o"></span> {{ file_name or '<new>' | escape }}</div>
        </div>
        <div id="editor"></div>
    </div>
{% endblock %}

{% block css %}
    <link href="{{ app.path('static', path = 'css/editor.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        rpcSocketUrl = 'ws://' + location.hostname + ':' + location.port + '{{ app.path("socket.rpc") }}';
        filename = '{{ request_location }}';
    </script>
    {%- if app.settings.remote_vendors.enabled -%}
        <script src="{{ app.settings.remote_vendors.repo.ace }}"></script>
    {%- else -%}
        <script src="{{ app.path('static', path = 'vendors/ace/src-noconflict/ace.js') }}"></script>
    {%- endif -%}
    <script src="{{ app.path('static', path = 'js/lib/ws.js') }}"></script>
    <script src="{{ app.path('static', path = 'js/lib/trpc.js') }}"></script>
    <script src="{{ app.path('static', path = 'js/editor.js') }}"></script>
{% endblock %}
