{% extends '_layout_base.html' %}

{% block head_title %}{{ request_location or '<home>' }}{% endblock %}

{% block dialogs %}
    {%- call c.dialog_template('dialog/mode-selection', ['prompt', 'horizontal'], ['disabled-close-button']) -%}
        {%- raw -%}
            <p>Change the syntax highlighter for:</p>
            <div class="options">
                {{#each modes}}
                    <a data-option="mode.change" data-value="{{ name }}">{{ caption }}</a>
                {{/each}}
                <a class="close">Not now</a>
            </div>
        {%- endraw -%}
    {%- endcall -%}
{% endblock %}

{% block content %}
    <div class="metadata">
        <div class="file" title="{{ request_location }}">
            {{ c.icon('file-o', classes=['icon']) }}
            <span class="name">{{ file_name or '<new>' | escape }}</span>
            <span class="mode"></span>
        </div>
        <div class="menu" data-key-bind="[escape]">
            <a class="options">{{ c.icon('bars', ['fw']) }}</a>
        </div>
    </div>

    <div id="editor"></div>

    <header class="location-bar">
        <ul class="current-location"></ul>
        <div class="root-location">
            <a href="{{ app.path('ui.tree.default') }}">{{ c.icon('home') }}</a>
        </div>
    </header>

    {%- call c.hb_template('editor/step') -%}
        {%- raw -%}
            <li class="step" data-name="{{ name }}" data-path="{{ path }}">
                <a href="{{ url }}" title="{{ name }}">{{ name }}</a>
            </li>
        {%- endraw -%}
    {%- endcall -%}
{% endblock %}

{% block css %}
    <link href="{{ static_path('app.editor.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        url_prefix_dir = '{{ app.path('ui.tree', path = '')}}';
        parentPath     = '{{ parent_path }}';
        rpcSocketUrl   = 'ws://' + location.hostname + ':' + location.port + '{{ app.path("socket.rpc") }}';
        filename       = '{{ request_location }}';
    </script>
    <script src="{{ static_path('ace.ace') }}"></script>
    <script src="{{ static_path('ace.ext.modelist') }}"></script>
    <script src="{{ static_path('app.editor.js') }}"></script>
{% endblock %}
