@import 'font';
@import 'css3';
@import 'colours';

.mover {
    .mover-iterator {
        display: block;
        margin: 0 -25px 1px -25px;
        background-color: $palette_bw_2;
        color: $palette_bw_6 !important;

        .icon {
            padding: 5px;
            text-align: center;
            width: 15px;
            color: $palette_bw_6;
        }

        .text {
            padding: 5px 25px 5px 0;
        }

        &:hover {
            color: $palette_bw_f;
            background-color: $palette_bw_0;
        }
    }

    .mover-browser {
        max-height: 180px;
        overflow:   auto;
        margin: 0 -25px 20px -25px;
        background-color: $palette_bw_2;

        .node {
            @include flex-container-default();

            .next-button {
                @include flex-order(2);

                padding: 5px 12px;
                color: $palette_bw_6;

                &:hover {
                    color: $palette_bw_f;
                    background-color: $palette_dark_green;
                }
            }

            .name {
                @include flex-grow(1);
                @include flex-order(1);

                cursor: pointer;
                padding: 5px 10px 5px 25px;
                color: $palette_bw_f;
            }

            &:hover {
                color: $palette_bw_f;
                background-color: $palette_bw_0;
            }
        }
    }

    .mover-browser:empty {
        padding: 40px 25px;

        &:before {
            content: "No folder available.";
            color: $palette_bw_3;
        }
    }
}