@import 'css3';
@import 'component_location_bar';

$base-color: #333; // #33342d; // #23251e;

.app-header {
    border-bottom: none;
}

.app-container {
    @include flex-container-default();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.editor-chrome {
    @include flex-container-default();
    @include flex-item(1 1 auto);
    @include flex-direction(column);

    .location-bar {
        background-color: $base-color;

        [class*="-location"] {
            border: none;
        }

        .root-location a {
            background-color: #000;
            padding-left: 17px;
            margin-left: -10px;
        }

        .current-location li {
            border: none;
        }

        a {
            color: #fff;
            background-color: #000;

            &:hover {
                background-color: #FF8800;
            }
        }
    }

    .metadata {
        @include flex-container-default();
        @include flex-justify-content(space-between);

        background-color: $base-color;
        padding: 10px 20px;
        color: #fff;

        .icon {
            padding-right: 10px;
        }

        .menu {
            @include flex-container-default();
            
            margin-right:  -10px;
            margin-top:    -5px;
            margin-bottom: -5px;
            
            a {
                cursor: pointer;
                padding: 5px;
                margin: 0;
                background-color: #000;
                color: #ccc;
                
                &:hover {
                    background-color: #fff;
                    color: #000;
                }
            }
            
            a:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            
            a:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }

    #editor {
        @include flex-item-align(stretch);
        @include flex-item(1 1 auto);
        @include flex-wrap(wrap);
    }
}