@import 'colours';
@import 'css3';
@import 'component_location_bar';
@import 'browser_mainctrl';
@import 'browser_mover';

$tree_animation_speed: 250ms;

.app-container {
}

.dialog[data-name="dialog/open-node"] {
    width: 440px;
}

.dialog[data-name="dialog/batch-operation"] {
    button.close {
        display: none;
    }
}

.explorer-chrome {
    @include flex-item(1);
    padding: 40px 40px 40px 80px;
    overflow-x: hidden;
    overflow-y: auto;

    .node-list {
        @include flex-container-default();
        padding: 10px 10px;
        list-style: none;
        margin: 0;
        overflow: hidden;

        .node {
            a {
                @include transition(all, $tree_animation_speed);

                display: block;
                width: 160px;
                text-align: center;
                padding: 5px 10px;
                color: #000;
                margin-right: 10px;
                margin-bottom: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
                background-color: #fff;
                position: relative;
                border: 1px solid #ccc;

                .node-marker {
                    @include transition(all, $tree_animation_speed);

                    position: absolute;
                    top: 10px;
                    left: 10px;
                    font-size: 48px;
                    color: #999;
                }

                .node-icon {
                    @include transition(all, $tree_animation_speed);

                    height: 160px;
                    display: block;
                    font-size: 168px;
                    color: #eee;
                }

                .node-name {
                    border-top: 1px solid #000;
                    margin-top: 10px;
                    padding: 10px 0;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &:hover, &.selected {
                    border: 1px solid #ccc;
                    text-decoration: none;

                    .node-icon {
                        color: $palette_bw_0;
                    }
                }
            }
        }

        .node.selected a {
            .node-marker {
                color: $palette_light_blue;
            }

            .node-icon {
                color: $palette_dark_orange;
            }
        }

        .node.deleting a {
            opacity: 0.3;
        }
    }
}

.location-bar {
    padding: 0 10px;
}

body[data-selection-count="0"] {
    .main-controller .at-least-one-selection {
        display: none;
    }
}
